<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MedicalCentre.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MedicalCentre.Properties.Settings>
            <setting name="DatabaseSettings" serializeAs="String">
                <value>server=koquuguda.beget.app;user=MedicalCentre;password=Admin@_1234;database=MedicalCentre;</value>
            </setting>
        </MedicalCentre.Properties.Settings>
    </applicationSettings>
</configuration>